@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	padding: 0;
	background-color: black;
	color:white;
	overflow-x: hidden;
	font-family: 'Rajdhani', sans-serif;}
	
p{ font-weight:300;
    }
h2, h3, h4, h5, h6{
	color:rgb(255, 255, 255);
	letter-spacing:2px;
}
h1{
	font-size:3rem;
	font-weight: 700;
	color:rgb(255, 255, 255);
	letter-spacing:2px;
}
a {
	color: inherit;
	text-decoration: none;
	display: block;
    width: max-content;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}
.svelte-fp-indicator-list-item-btn{
	width: 4px!important;
	height: 4px!important;
	padding:unset!important;
	border-radius: 0.5rem;
	border:0px solid transparent!important;
	background-color: white!important;
	order: 1;
	align-self: end;
	}
	.svelte-fp-active{	background-color: white!important;
		width: 24px!important;

	}
button {
	cursor:pointer;
	transition:all 0.2s ease;
	background-color: transparent;
	color:white;
	border:1px solid white;
	letter-spacing:2px;
	margin:auto 1rem;
}
button:hover {
	color: black;
	background-color: white;}
.sc-carousel-dot__dot{background:white!important;border-radius:2px!important;opacity:1!important;width:4px!important;height:4px!important;}
.sc-carousel-dot__dot_active{background:white!important;border-radius:2px!important;opacity:1!important;width:24px!important;height:4px!important;}
.sc-carousel-dots__container{margin-top:1rem;}
.sc-carousel__arrow-container{opacity:0;}
.nobox .sc-carousel__pages-window{box-shadow:unset!important;}

.sc-carousel__pages-window{}
.svelte-fp-indicator-list{width:88px;}
.swiper-pagination-bullet{
	background: #4d4fc8;
	opacity: 0.5;
}
.swiper-pagination-bullet-active{
	background:#6800ff;
}  @keyframes glow{
    0%{		text-shadow: 2px 2px 2px rgba(0, 162, 255, 0.5), 2px -2px 5px rgba(255, 208, 0, 0.5), -2px 2px 2px  rgba(255, 0, 0, 0.5);
}   50%{		text-shadow: 2px -2px 5px rgba(0, 162, 255, 0.5), -2px 2px 0px rgba(255, 208, 0, 0.5), 2px -2px 5px  rgba(255, 0, 0, 0.5);
}   100%{		text-shadow: 2px 2px 2px rgba(0, 162, 255, 0.5), 2px -2px 5px rgba(255, 208, 0, 0.5), -2px 2px 2px  rgba(255, 0, 0, 0.5);
}
  }
  
  @keyframes glow2 {
	0%{	box-shadow:0px 0px 10px white;
	}
	50%{	box-shadow:0px 0px 10px transparent;
	}
	100%{	box-shadow:0px 0px 10px white;
	}
	
  }